/* start Main Rulez */

.container {
    width: 1170px;
    margin: auto;

}
.clearFix{
    clear: both
}
/* End Main RuLEZ*/ 
/* Start Header */
.header .slider {
    background-image: url('../imges/slider.jpg');
    background-size: cover; /*css3*/
    height: 891px;
}

.header .slider .intro {
    padding-top: 400px;
    height: 418px;
    text-align: center;
    color: white;
}
.header .slider .intro h2 {
    font-size: 50px;
    width: 600px;
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
    padding: 10px 0;
    margin-top: -8px;
    margin-left: 261px;
    font-family: sans-serif
}
    
    

.header .slider .intro button {
    background: none;
    margin-top: 25px;
    font-size: 20px;
    border: 2px solid #fff;
    font-weight: bold;
    padding: 10px 30px;
    color: white;
}


.header .navbar {
    margin-top: 73px;
    background-color: #252F31;
    color: #fff;
    overflow: hidden;
}
.header .navbar h2{float: left;
    text-transform: uppercase;
    text-decoration-style: dashed;
    font-family: sans-serif;
 }
.header .navbar h2 span{color: #2ECC71}
.header .navbar ul{
    list-style: none;
    overflow: hidden;
    float: right;
    
}

.header .navbar ul li {
    padding: 10px;
    float: left;
    font-family: sans-serif
}
.header .navbar ul li a {
    color: #fff;
    text-decoration: none;
    
}
.header .navbar ul li.Active a,
.header .navbar ul li a:hover {
    color: #30B567
}
/*start Features*/
.features{
    overflow: hidden;
    padding-top: 120px;
    padding-bottom: 50px;
}
.features .feat{
    float: left;
    width: 32%;
    margin-right:1.33333%;
    
}
.Hobbies{
        margin-left: 20px     
}
.Goals {
    margin-left: 7px
}
.features .feat h1 {
    color: #555
}
.features .feat p {
    color: #888;
    line-height: 1.7;
    font-size: 18.7px;
    word-spacing: 2px; 
}

/*End Features*/
/* start About My */
.about-my {
    background-color: #f2f2f2;
    overflow: hidden;
     height: 560px;
}
.about-my .image{
    float: left;
    width: 40%
}
.about-my .image img{
    width: 100%;
    height: 560px;
    
}
.about-my .info {
    float: left;
    width: 60%
}
.about-my .info h1 {
  margin: 40px 0 20px 40px;
    color: #555;
    
}
.about-my .info > p {
  margin: 0 0 10px 40px;
  
  text-align: justify;
}
.about-my .info > p:last-of-type{
  margin: 30px 0 10px 40px;
  
}
.about-my .info p {
    line-height: 1.6;
    color: #666;
    font-size: 17.4px;
    margin-left: 40px;
}
.about-my .info .hobbies  {
     overflow: hidden;
     margin: 40px 0 0 40px;
}
.about-my .info .hobbies > div {
    float: left;
    width: 50%;
    min-height:100px; 
    position: relative;
    margin-bottom: 30px;

}
.about-my .info .hobbies img {
    
    position: absolute;
    top: 0; 
    left:0;
}
.about-my .info .hobbies h3 {
    margin-bottom: 21px;
    margin-left: 53px;
    color: #555;
    display: inline;
    font-size: 25px;
}
.about-my .info .hobbies p {
    margin-left: 53px
}

/* start About My */
/* start my-skills */

.my-skills {
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden
}
.my-skills .skills{
    width: 50%;
    float: left
}
.my-skills .skills h4 {
    color: #666;
    font-size: 26px;
    font-family: sans-serif
}
.my-skills .skills p {
    line-height: 1.6;
    color: #666;
    font-size: 17.1px;
}


.my-skills .progress{
    width: 50%;
    overflow: hidden;
    margin-top: 44px
    
    
}

.my-skills .progress .technique h3 {
    font-family: sans-serif;
    margin-left: 70px;
    color: #555;
    margin-top: 32px;
    margin-bottom: 10px
}

.my-skills .progress .technique div{
    background: #f2f2f2;
    width: 520px;
    height: 25px;
    margin-left: 70px
}
.my-skills .progress .technique div span{
    display: block;
    background-color: #2Dcc70;
    height: 25px;
    line-height: 25px;
    text-align: right;
    font-weight: bold;
    color: white
    
}



/* start my-skills */
/*Start Resume*/

.Reaume {
    background-color: #f2f2f2;
    padding-bottom: 70px;
    padding-top: 50px;
    text-align: center
}
.Reaume p {
    color: #888;
    line-height: 1.7;
    font-size: 17.1px;
    
}
.Reaume h2 {
     color: #555;
    font-family: sans-serif
}
/*End Resume*/
/* start my-skills */

.My-Education {
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden
}
.My-Education .main p {
    color: #888;
    line-height: 1.7;
    font-size: 17.1px;
    text-align: justify;
    
}
.My-Education .main p:last-of-type {
    margin-top: 31px
    
}
.My-Education .main h2 {
     color: #555;
    font-family: sans-serif;
    margin: 70px 0 0 0
}
.My-Education .main
{
    width: 50%;
    float: left;
    margin-right: 5%;
}
.My-Education .exp{
    width: 45%;
    float: left;
}
.My-Education .exp .stardcaritficat h2 {
     color: #777;
    font-family: sans-serif;
    margin-top: 115px;
    margin-bottom: 14px
}
.My-Education .exp span:first-of-type {
     display: block;
     margin-bottom: 14px;
    color: #999;
    
}
.My-Education .exp span:last-of-type {
     display: inline-block;
     margin-bottom: 14px;
    background-color: #2Dcc70;
    color: white;
    padding: 6.5px 9px
    
}
.My-Education .exp hr {
    background-color: #e6eaee;
    border: 0;
    height: 1.5px;
    margin-top: 16px
}
.My-Education .exp p{
    color: #888;
    line-height: 1.7;
    font-size: 17.1px;
}

.My-Education .exp .Endcaritficat h2 {
     color: #777;
    font-family: sans-serif;
    margin-top: 60px;
    margin-bottom: 14px
}
.My-Education .exp .Endcaritficat p{
   margin-bottom: 68px;   
}
.My-Education .clearFix hr {
    margin-bottom: 7px;
    background-color: #d6d4e5;
    border: 0;
    height: 3px;
}
.My-Education .clearFix .Endcaritficat hr ,
.My-Education .clearFix .stardcaritficat hr
{
    margin-bottom: 7px;
    background-color: #e6eaee;
    border: 0;
    height: 1.5px;
    
}


/* start my-skills */
/*stard TestImonials*/

.testimonials {
    background-color: #f2f2f2;
    padding-bottom: 60px;
    padding-top: 60px;
    text-align: center
}
.testimonials q {
    color: #999;
    font: italic 19px/1.8 Arial, Tahoma
}
.testimonials h3 {
    color: #777;
}
.testimonials ul {
    list-style: none;
    padding: 5px 0 0 0;
    text-align: center;
    
}
.testimonials ul li {
    width: 8px;
    height: 8px;
    border: 2px solid #2Dcc70;
    display: inline-block;
    cursor: pointer
}
.testimonials ul li:hover,
.testimonials ul li.Active{
    background-color: #2Dcc70
}
/*End TestImonials*/
/* stard portfolio*/
.portfolio {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center
}
.portfolio .our-work{
    overflow: hidden;
}
.portfolio .our-work >div {
    float: left;
    width: 30%;
    margin-bottom: 3%;
    margin-right: 3.33333%;
}
.portfolio .our-work >div img{
    width: 100%;

    
}
.portfolio p {
 color: #999;
    line-height: 1.5;
    font-size: 17.5px;
    margin-bottom: 70px;
    font-family: sans-serif;
}
.portfolio h2 {
     color: #777;
    font-family: sans-serif;
    margin-top: 49px;
    margin-bottom: 30px
}

/* End portfolio*/
/* stard contact Me*/
.contact {
    background-color: #252f31;
    overflow: hidden
}
.contact h2 {
    color: #999;
    font-family: sans-serif;
    margin-top: 63px;
    margin-bottom: 14px
}
.contact p {
    color: #777;
    line-height: 1.5;
    font-size: 17.5px;
    margin-bottom: 50px;
    font-family: sans-serif;
}
.contact p .withoutspacing {
    color: #D1D6DA
}
.contact p .spacing {
    margin-left: 33px
}
.contact p .Spacing {
    margin-left: 40px
}
.contact .Info{
    width: 50%;
    float: left;
    margin-right: 5%
}
.contact .From{
    width: 45%;
    float: left
    
}
.container .From label{
    color: #D1D6DA;
    display: block;
    margin-bottom:15px;
    margin-top: 30px;
    font-family: sans-serif;
    
}
.container .From {
    margin-top: 50px;
    margin-bottom: 63px;
}
.container .From input[type="text"]{
    background-color: #4B5557;
    padding: 10px;
    width: 90%;
    margin-bottom: 10px;
    border: 0
}
.container .From textarea{
    background-color: #4B5557;
    padding: 10px;
    width: 90%;
    margin-bottom: 10px;
    border: 0;
    height: 230px
}
.container .From input[type="submit"]{
    background-color: #191E22;
    color: #eaeaea;
    padding: 13PX 35PX;
    border: 0;
    margin-top: 20PX;
    font-family: sans-serif;
}
/* End contact Me*/
/*stard Footer*/
.footer {
    padding: 20px 0;
    text-align: center;
    background-color: #191e22;
    color: #GAGE71;
}
.footer span{
      color: #999;
    font-size: 12.5px;
    margin-bottom: 22px;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 30px;
    display: block;
}
.footer ul {
    list-style: none;
    padding-left: 0
}
.footer ul li {
    display: inline-block;
    
}
/*End Footer*/
/* Stard MyFramework */ 
.my-button {
    background: none;
    color: #2Dcc70;
    border: #2Dcc70 solid 2px;
    font-weight: bolder;
    margin-top: 20px;
    padding: 12px 20px;
    font-family: sans-serif
}
/* End Header */

/* Stard MyFramework */ 
.my-button {
    background: none;
    color: #2Dcc70;
    border: #2Dcc70 solid 2px;
    font-weight: bolder;
    margin-top: 20px;
    padding: 12px 20px;
    font-family: sans-serif
}


/* End MyFramework */


